@using Microsoft.AspNetCore.Authentication;   @*必须添加此命名空间*@

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<dl>
    @foreach (var clamin in User.Claims)
    {
    <dt>
        Type:   @clamin.Type  &nbsp;&nbsp;    Value:   @clamin.Value &nbsp;&nbsp; ValueType:@clamin.ValueType
    </dt>
     
    }

    <dt> 
        id_Token= @await ViewContext.HttpContext.GetTokenAsync("id_token") <br />
        refresh_token=@await  ViewContext.HttpContext.GetTokenAsync("refresh_token") <br />
        access_token=@await  ViewContext.HttpContext.GetTokenAsync("access_token")
    </dt>
</dl>