@using IdentityServerMVC.Models;
@model ConsentViewModel

<p>Consend Page</p>
<div class="row page-header">
    <div class="col-sm-10">

        @if (!string.IsNullOrWhiteSpace(Model.ClientLogoUrl))
        {
            <div><img src="@Model.ClientLogoUrl" class="img-rounded" style="width:200px" /></div>
            <h1>
                应用名称: @Model.ClientName
            </h1>
        }
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div asp-validation-summary="All" class="danger">

        </div>
    </div>
}
<div class="row">
    <form asp-action="index" method="post">
        <input type="hidden" asp-for="ReutrnUrl" />
        <div class="col-sm-8">
            <ul class="list-group">
                <li>下面是身份信息:</li>
                @if (Model.IdentityScopes != null && Model.IdentityScopes.Count() > 0)
                {
                    foreach (var idntityScope in Model.IdentityScopes)
                    {
                        Html.RenderPartial("ScopeListItem", idntityScope);
                    }
                }

                <li>下面是资源服务:</li>
                @if (Model.ResourceScopes != null && Model.ResourceScopes.Count() > 0)
                {
                    foreach (var resource in Model.ResourceScopes)
                    {
                        Html.RenderPartial("ScopeListItem", resource);
                    }
                }
            </ul>

        </div>

        <div>
            <label>
                <input type="checkbox" asp-for="RemenberConsent" />
                <strong>记住我的选择</strong>
            </label>
        </div>

        <div>
            <button name="button" value="yes" class="btn btn-primary" type="submit" autofocus>同意</button>
            <button name="button" value="no" class="btn btn-default" type="submit">取消</button>
        </div>
    </form>
</div>